@model IEnumerable<RegFormMVC.Models.CustomEmpProject>
@{
    ViewBag.Title = "GetEmpProject";
}

<h2>GetEmpProject</h2>
<table border="1">
    <tr>
        <th>EmpId</th>
        <th>Name</th>
        <th>Dept</th>
        <th>ProjName</th>
        <th>Domain</th>
    </tr>
    @foreach(var m in Model)
    {
<tr>
    <td>@m.EmpId</td>
    <td>@m.Name</td>
    <td>@m.Dept</td>
    <td>@m.ProjName</td>
    <td>@m.Domain</td>
</tr>
    }
</table>

<div>
    @Html.ActionLink("New Employee","InsertNewEmployee")
</div>